:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-synthesis: none;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
}

.sla-nsb {
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* biome-ignore lint/correctness/noUnknownPseudoElement: webkit scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
}

.sla {
    &.sla-provider {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    .sla-container {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    .sla-content {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        &.sla-child {
            overflow: auto;
        }
    }

    .sla-track {
        position: fixed;
        z-index: 1;

        &.sla-child {
            position: absolute;
        }

        &.sla-x {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 12px;
        }

        &.sla-y {
            top: 0;
            right: 0;
            width: 12px;
            height: 100%;
        }
    }

    .sla-thumb {
        position: absolute;
        background-color: #99999955;

        &.sla-x {
            height: 12px;
        }

        &.sla-y {
            width: 12px;
        }
    }
}
