name: Dependabot Merges

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize

jobs:
    approve-and-merge:
        name: Approve & Merge
        if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}

        runs-on: ubuntu-latest

        permissions:
            contents: write
            pull-requests: write

        steps:
            - name: Fetch Dependabot metadata
              id: dependabot-metadata
              uses: dependabot/fetch-metadata@v2
              with:
                  github-token: "${{ secrets.GITHUB_TOKEN }}"

            - name: Approve PR
              run: gh pr review --approve "${{github.event.pull_request.html_url}}"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Merge PR
              run: gh pr merge --auto --squash "${{github.event.pull_request.html_url}}"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
