name: Test

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

jobs:
    node:
        name: ${{ matrix.os.name }} / Node ${{ matrix.node }}
        runs-on: ${{ matrix.os.code }}

        strategy:
            fail-fast: false
            matrix:
                os:
                    - name: Linux
                      code: ubuntu-latest
                    - name: macOS
                      code: macos-latest
                    - name: Windows
                      code: windows-latest
                node:
                    - 20
                    - 22
                    - 24
                    - 25
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install just
              uses: extractions/setup-just@v3

            - name: Setup Node
              uses: alpheusci/setup-node@v1
              with:
                  node-version: ${{ matrix.node }}

            - name: Build packages
              run: just build

            - name: Run tests
              run: just test
